body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(40,23,69);

    color:#efefef;
}

.header-selector{
    color: rgb(40,23,69);
    font-weight: 600;
}

td{
    padding-left:10px;
    padding-right:10px;
    word-wrap: break-word;
    max-width: 120px;
    /*margin:15px;*/
}

.mylinks:link, .mylinks:hover {
    color: #fff !important;
    text-decoration: none;
}

h2, p, li {
    color:#222;
}

h3 {
    font-size: 10;
}

.extraPadding {
    padding: 5px;
}

.customPanel {
    background-color: #777;
}

.customTable {
    color:#222;
    border:1px solid #fff !important;
    border-collapse: collapse !important;
}

.bottomFix {

    display:block;
    width:100%;
    height:100px;
    background-color: #3d292e;
    position:absolute;
    bottom:0 !important;
}

/*button {
    width:200px;
}*/

@media screen and (max-width:750px) 
{
    header {
        padding:5%;
        padding-top:0;
    }

    .bottomFix {
        position:relative;
    }
}